  /* adjust.scss
  ------------------------------------------------------------ */

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

$mBase: 10;
$mLength: 5;

@for $i from 1 through $mLength {
  .mt#{$mBase * $i} {
    margin-top: #{$mBase * $i}px !important;
  }
}

@for $j from 1 through $mLength {
  .mb#{$mBase * $j} {
    margin-bottom: #{$mBase * $j}px !important;
  }
}

@for $i from 1 through $mLength {
  .mr#{$mBase * $i} {
    margin-right: #{$mBase * $i}px !important;
  }
}

@for $j from 1 through $mLength {
  .ml#{$mBase * $j} {
    margin-left: #{$mBase * $j}px !important;
  }
}

$pBase: 10;
$pLength: 5;

@for $k from 1 through $pLength {
  .pt#{$pBase * $k} {
    padding-top: #{$pBase * $k}px !important;
  }
}

@for $l from 1 through $pLength {
  .pb#{$pBase * $l} {
    padding-bottom: #{$pBase * $l}px !important;
  }
}

@for $i from 1 through $mLength {
  .pr#{$mBase * $i} {
    padding-right: #{$mBase * $i}px !important;
  }
}

@for $j from 1 through $mLength {
  .pl#{$mBase * $j} {
    padding-left: #{$mBase * $j}px !important;
  }
}

$wBase: 10;
$wLength: 10;

@for $m from 1 through $wLength {
  .w#{$wBase * $m} {
    width: #{$wBase * $m}% !important;
  }
}
