// --- clear fix

%clf {
  zoom : 1;
  &:after {
    display : block;
    clear : both;
    content : '';
  }
}

// --- Tips

// Media query

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}
