// --- clear fix

%clf {
  zoom : 1;
  &:after {
    display : block;
    clear : both;
    content : '';
  }
}

// --- Tips

// Media query

// break point
$sp : 768px;
$middle : 1000px;

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

@mixin middle {
  @media screen and (max-width: $middle) {
    @content;
  }
}
