// --- break point

$sp : 768px;
$tablet : 900px;

// --- font color

$color-base : #000;
$color-link : #106dbe;
$color-link-v : #007880;
$color-link-h : #55acf7;

// --- font

$font-base : 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
